#WriteFile(fluid/CMakeLists.txt);
set(CPPFILES
#CppFiles(Fluid);
)
add_executable(fluid ${CPPFILES})
target_link_libraries(fluid fltk fltk_images fltk_forms)

## link in optional libraries
if(FLTK_HAVE_CAIRO)
    target_link_libraries(fluid fltk_cairo)
endif(FLTK_HAVE_CAIRO)

if(FLTK_USE_GL)
    target_link_libraries(fluid fltk_gl)
    target_link_libraries(fluid ${OPENGL_LIBRARIES})
endif(FLTK_USE_GL)

if(USE_XFT)
    target_link_libraries(fluid ${X11_Xft_LIB})
endif(USE_XFT)

if(HAVE_XINERAMA)
    target_link_libraries(fluid ${X11_Xinerama_LIB})
endif(HAVE_XINERAMA)

install(TARGETS fluid
    EXPORT fltk-install
    DESTINATION ${PREFIX_BIN}
)
#CloseFile;
#WriteFile(src/CMakeLists.txt);
include_regular_expression("[.][cxx|c|h]$")

set(CPPFILES
#CppFiles(fltk);
)

set(FLCPPFILES
  forms_compatability.cxx
  forms_bitmap.cxx
  forms_free.cxx
  forms_fselect.cxx
  forms_pixmap.cxx
  forms_timer.cxx
)

set(GLCPPFILES
  Fl_Gl_Choice.cxx
  Fl_Gl_Device_Plugin.cxx
  Fl_Gl_Overlay.cxx
  Fl_Gl_Window.cxx
  freeglut_geometry.cxx
  freeglut_stroke_mono_roman.cxx
  freeglut_stroke_roman.cxx
  freeglut_teapot.cxx
  gl_draw.cxx
  gl_start.cxx
  glut_compatability.cxx
  glut_font.cxx
)

set(IMGCPPFILES
  fl_images_core.cxx
  Fl_BMP_Image.cxx
  Fl_File_Icon2.cxx
  Fl_GIF_Image.cxx
  Fl_Help_Dialog.cxx
  Fl_JPEG_Image.cxx
  Fl_PNG_Image.cxx
  Fl_PNM_Image.cxx
)

set(CFILES
#CFiles(fltk);
)

add_definitions(-DFL_LIBRARY)
if(APPLE)
	set(MMFILES
#ObjCppFiles(fltk);
		)
else()
   set(MMFILES
      )
endif(APPLE)

##############################################################################################################################################
add_library(fltk STATIC ${CPPFILES} ${MMFILES} ${CFILES} fl_call_main.c)
set_target_properties(fltk PROPERTIES CLEAN_DIRECT_OUTPUT 1)
if(MSVC)
   if(OPTION_LARGE_FILE)
      set_target_properties(fltk PROPERTIES LINK_FLAGS /LARGEADDRESSAWARE)
   endif()
   set_target_properties(fltk
      PROPERTIES
         OUTPUT_NAME fltk
         DEBUG_OUTPUT_NAME fltkd
   )
endif(MSVC)

if(USE_THREADS)
   target_link_libraries(fltk ${CMAKE_THREAD_LIBS_INIT})
endif(USE_THREADS)

if(USE_X11)
   target_link_libraries(fltk ${X11_LIBRARIES})
endif(USE_X11)

if(WIN32)
   target_link_libraries(fltk comctl32)
endif(WIN32)

if(FLTK_HAVE_CAIRO)
   target_link_libraries(fltk fltk_cairo ${PKG_CAIRO_LIBRARIES})
ENDif(FLTK_HAVE_CAIRO)

if(HAVE_XINERAMA)
   target_link_libraries(fltk ${X11_Xinerama_LIB})
endif(HAVE_XINERAMA)

if(USE_XFT)
   target_link_libraries(fltk ${X11_Xft_LIB})
endif(USE_XFT)

if(LIB_fontconfig)
   target_link_libraries(fltk ${LIB_fontconfig})
endif(LIB_fontconfig)

##############################################################################################################################################
add_library(fltk_forms STATIC ${FLCPPFILES})
target_link_libraries(fltk_forms fltk)
set_target_properties(fltk_forms
   PROPERTIES CLEAN_DIRECT_OUTPUT 1
)
if(MSVC)
   if(OPTION_LARGE_FILE)
      set_target_properties(fltk_forms PROPERTIES LINK_FLAGS /LARGEADDRESSAWARE)
   endif()
   set_target_properties(fltk_forms
      PROPERTIES
         OUTPUT_NAME fltkforms
         DEBUG_OUTPUT_NAME fltkformsd
   )
endif(MSVC)

##############################################################################################################################################
add_library(fltk_images STATIC ${IMGCPPFILES})
target_link_libraries(fltk_images fltk ${FLTK_PNG_LIBRARIES}
     ${FLTK_JPEG_LIBRARIES} ${FLTK_ZLIB_LIBRARIES})
set_target_properties(fltk_images PROPERTIES CLEAN_DIRECT_OUTPUT 1)
if(MSVC)
   if(OPTION_LARGE_FILE)
      set_target_properties(fltk_images PROPERTIES LINK_FLAGS /LARGEADDRESSAWARE)
   endif()
   set_target_properties(fltk_images
      PROPERTIES
         OUTPUT_NAME fltkimages
         DEBUG_OUTPUT_NAME fltkimagesd
   )
endif(MSVC)

##############################################################################################################################################
install(TARGETS fltk fltk_forms fltk_images
   EXPORT fltk-install
   DESTINATION ${PREFIX_LIB}
)

##############################################################################################################################################
if(OPENGL_FOUND)
   add_library(fltk_gl STATIC ${GLCPPFILES})
   target_link_libraries(fltk_gl fltk ${OPENGL_LIBRARIES})
   set_target_properties(fltk_gl PROPERTIES CLEAN_DIRECT_OUTPUT 1)
   if(MSVC)
      if(OPTION_LARGE_FILE)
         set_target_properties(fltk_gl PROPERTIES LINK_FLAGS /LARGEADDRESSAWARE)
      endif()
      set_target_properties(fltk_gl
         PROPERTIES
            OUTPUT_NAME fltkgl
            DEBUG_OUTPUT_NAME fltkgld
      )
   endif(MSVC)

   install(TARGETS fltk_gl
      EXPORT fltk-install
      DESTINATION ${PREFIX_LIB}
   )
endif(OPENGL_FOUND)

##############################################################################################################################################
##############################################################################################################################################
if(OPTION_BUILD_SHARED_LIBS)

##############################################################################################################################################
add_library(fltk_SHARED SHARED ${CPPFILES} ${MMFILES} ${CFILES})
set_target_properties(fltk_SHARED
   PROPERTIES CLEAN_DIRECT_OUTPUT 1
   VERSION ${FLTK_VERSION_MAJOR}.${FLTK_VERSION_MINOR}
   SOVERSION ${FLTK_VERSION_PATCH}
)
if(MSVC)
   set_target_properties(fltk_SHARED
      PROPERTIES
         OUTPUT_NAME fltkdll
         DEBUG_OUTPUT_NAME fltkdlld
         COMPILE_DEFINITIONS "FL_DLL;FL_LIBRARY"
   )
   if(OPTION_LARGE_FILE)
      set_target_properties(fltk_SHARED PROPERTIES LINK_FLAGS /LARGEADDRESSAWARE)
   endif(OPTION_LARGE_FILE)
else()
   set_target_properties(fltk_SHARED PROPERTIES OUTPUT_NAME fltk)
endif(MSVC)

if(USE_THREADS)
   target_link_libraries(fltk_SHARED ${CMAKE_THREAD_LIBS_INIT})
endif(USE_THREADS)

if(USE_X11)
   target_link_libraries(fltk_SHARED ${X11_LIBRARIES})
endif(USE_X11)

if(WIN32)
   target_link_libraries(fltk_SHARED comctl32)
endif(WIN32)

if(FLTK_HAVE_CAIRO)
   target_link_libraries(fltk_SHARED fltk_cairo ${PKG_CAIRO_LIBRARIES})
ENDif(FLTK_HAVE_CAIRO)

if(HAVE_XINERAMA)
   target_link_libraries(fltk_SHARED ${X11_Xinerama_LIB})
endif(HAVE_XINERAMA)

if(USE_XFT)
   target_link_libraries(fltk_SHARED ${X11_Xft_LIB})
endif(USE_XFT)

if(LIB_fontconfig)
   target_link_libraries(fltk_SHARED ${LIB_fontconfig})
endif(LIB_fontconfig)

##############################################################################################################################################
add_library(fltk_forms_SHARED SHARED ${FLCPPFILES})
target_link_libraries(fltk_forms_SHARED fltk)
set_target_properties(fltk_forms_SHARED
   PROPERTIES CLEAN_DIRECT_OUTPUT 1
   VERSION ${FLTK_VERSION_MAJOR}.${FLTK_VERSION_MINOR}
   SOVERSION ${FLTK_VERSION_PATCH}
)
if(MSVC)
   set_target_properties(fltk_forms_SHARED
      PROPERTIES
         OUTPUT_NAME fltkformsdll
         DEBUG_OUTPUT_NAME fltkformsdlld
         COMPILE_DEFINITIONS "FL_DLL;FL_LIBRARY"
   )
   if(OPTION_LARGE_FILE)
      set_target_properties(fltk_forms_SHARED PROPERTIES LINK_FLAGS /LARGEADDRESSAWARE)
   endif(OPTION_LARGE_FILE)
else()
   set_target_properties(fltk_forms_SHARED PROPERTIES OUTPUT_NAME fltk_forms)
endif(MSVC)

if(USE_THREADS)
   target_link_libraries(fltk_SHARED ${CMAKE_THREAD_LIBS_INIT})
endif(USE_THREADS)

if(USE_X11)
   target_link_libraries(fltk_SHARED ${X11_LIBRARIES})
endif(USE_X11)

##############################################################################################################################################
add_library(fltk_images_SHARED SHARED ${IMGCPPFILES})
target_link_libraries(fltk_images_SHARED fltk
   ${FLTK_PNG_LIBRARIES} ${FLTK_JPEG_LIBRARIES} ${FLTK_ZLIB_LIBRARIES}
)
set_target_properties(fltk_images_SHARED
   PROPERTIES CLEAN_DIRECT_OUTPUT 1
   VERSION ${FLTK_VERSION_MAJOR}.${FLTK_VERSION_MINOR}
   SOVERSION ${FLTK_VERSION_PATCH}
)
if(MSVC)
   set_target_properties(fltk_images_SHARED
      PROPERTIES
         OUTPUT_NAME fltkimagesdll
         DEBUG_OUTPUT_NAME fltkimagesdlld
         COMPILE_DEFINITIONS "FL_DLL;FL_LIBRARY"
   )
   if(OPTION_LARGE_FILE)
      set_target_properties(fltk_images_SHARED PROPERTIES LINK_FLAGS /LARGEADDRESSAWARE)
   endif(OPTION_LARGE_FILE)
else()
   set_target_properties(fltk_images_SHARED PROPERTIES OUTPUT_NAME fltk_images)
endif(MSVC)

##############################################################################################################################################
install(TARGETS fltk_SHARED fltk_forms_SHARED fltk_images_SHARED
   EXPORT fltk-install
   DESTINATION ${PREFIX_LIB}
)

##############################################################################################################################################
if(OPENGL_FOUND)
   add_library(fltk_gl_SHARED SHARED ${GLCPPFILES})
   target_link_libraries(fltk_gl_SHARED fltk ${OPENGL_LIBRARIES})
   set_target_properties(fltk_gl_SHARED
      PROPERTIES CLEAN_DIRECT_OUTPUT 1
      VERSION ${FLTK_VERSION_MAJOR}.${FLTK_VERSION_MINOR}
      SOVERSION ${FLTK_VERSION_PATCH}
   )
   if(MSVC)
      set_target_properties(fltk_gl_SHARED
         PROPERTIES
            OUTPUT_NAME fltkgldll
            DEBUG_OUTPUT_NAME fltkgldlld
            COMPILE_DEFINITIONS "FL_DLL;FL_LIBRARY"
      )
      if(OPTION_LARGE_FILE)
         set_target_properties(fltk_gl_SHARED PROPERTIES LINK_FLAGS /LARGEADDRESSAWARE)
      endif(OPTION_LARGE_FILE)
   else()
      set_target_properties(fltk_gl_SHARED PROPERTIES OUTPUT_NAME fltk_gl)
   endif(MSVC)

   install(TARGETS fltk_gl_SHARED
      EXPORT fltk-install
      DESTINATION ${PREFIX_LIB}
   )
endif(OPENGL_FOUND)

endif(OPTION_BUILD_SHARED_LIBS)
#CloseFile;
