body { background-color: white; margin-left: 30 }
H1 { background-color: #a0c0c0; margin-left: -20 }
H2 { background-color: #a0c0c0; margin-left: -20 }
H3 { background-color: #a0c0c0; margin-left: -15 }
H4 { background-color: #c0d0d0; font-weight: normal; margin-left: -10 }
pre { background-color: #e0e0e0; margin-left: 25; width: 90% }
