body { margin-left: 25; }
h1,h2,h3 { background-color: #c0c0c0; margin-left: -20; padding: 1 5 }
h4 { background-color: #e0e0e0; font-weight: normal; margin-left: -20; padding: 2 6 }
pre { margin-left: 25; width: 90%; font-size: 80%; padding: 2 4 }
pre { margin-left: 25; width: 90%; font-size: 80%; border: 1 solid; padding: 2 4 }
